.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background: rgb(39, 43, 65);
}

.footer p {
    width: 100%;
    font-size: 10px;
}