.navbar {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 2px solid rgb(2, 10, 242);
}

.navbar_one {
    /* border: 2px solid salmon; */
    padding: 30px 40px;
}

.navbar_one__one {
    /* border: 2px solid greenyellow; */
}

.navbar_one__one_one {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.navbar_one__one_one img {
    width: 4rem !important;
}

.navbar_one__one_one h4 {
    margin-left: 15px;
    /* font-weight: normal; */
}

.navbar_one__one_two h3 {
    color: rgb(71, 149, 232);
    font-size: 12px;
    /* font-weight: normal; */
    margin-bottom: 15px;
}

.navbar_two {
    /* border: 2px solid saddlebrown; */
}

.navbar_two__one_one {
    cursor: pointer;
}

.navbar_two__one_one {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    transition: all 0.2s ease-in;
}

.navbar_two__one_one:hover {
    transform: scale(1.1);
}

.navbar_two__one_one img {
    width: 2rem;
    margin-right: 15px;
}

.navbar_two__one_one h4 {
    font-weight: 500;
}

.navbar_three {
    /* border: 2px solid green; */
    padding: 30px 40px;
}

.navbar_three_one {
    /* border: 2px solid salmon; */
    display: flex;
    margin-bottom: 10px;
}

.navbar_three_one_one img {
    width: 2rem;
    margin-right: 15px;
}

.navbar_three_two {
    display: flex;
    align-items: center;
}

.navbar_three_two img {
    width: 2rem;
    margin-left: 15px;
}

.navbar_three_two h4 {
    margin-top: 12px;
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
    background-color:#20c9ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.navbar_three_one_two h5 {
    color: rgb(63,63,63);
}