.show {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(23, 23, 23);
    padding: 60px;
    background-color: #000;
}

.show img {
    width: 22rem;
    height: 34rem;
    border-radius: 8px;
    box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid rgb(255, 255, 255)!important;
}

.special {
    transform: translateY(130px);
}